
/*//////////////////////////////////////////////////// */
/* Scereens */

.main-screen{
	position: absolute;
	top: 50%;
	left: 50%;
	// width: 375px;
	// height: 667px;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translate(-50%, -50%);
	box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	overflow: hidden;
}

.screen{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

// @media screen and (max-width: 768px){
// 	.main-screen{
// 		top: 0px;
// 		left: 0px;
// 		width: 100%;
// 		height: 100%;
// 		transform: none;
// 		box-shadow: none;
// 	}
// }


/*//////////////////////////////////////////////////// */
/* Transitions */



$durationIn: 350ms;
$durationOut: 700ms;


/*//////////////////////////////////////////////////// */
/* Slide Left, Slide Right */

.slide-left-enter-active, .slide-right-enter-active, 
.slide-left-back-enter-active, .slide-right-back-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-left-leave-active, .slide-right-leave-active,
.slide-left-back-leave-active, .slide-right-back-leave-active{
	transition: all $durationOut ease-in-out;
}

.slide-left-enter, .slide-right-leave-to,
.slide-right-back-enter, .slide-left-back-leave-to{
	//opacity: 0;
	transform: translate3D(100%, 0, 0);
}

.slide-left-leave-to, .slide-right-enter,
.slide-right-back-leave-to, .slide-left-back-enter{
	//opacity: 0;
	transform: translate3D(-100%, 0, 0);
}



/*//////////////////////////////////////////////////// */
/* Slide Up, Slide Down */

.slide-up-enter-active, .slide-down-enter-active,
.slide-up-back-enter-active, .slide-down-back-enter-active{
	transition: all $durationIn ease-in-out;
}

.slide-up-leave-active, .slide-down-leave-active,
.slide-up-back-leave-active, .slide-down-back-leave-active{
	transition: all $durationOut ease-in-out;
}


.slide-up-enter, .slide-down-leave-to,
.slide-up-back-leave-to, .slide-down-back-enter{
	opacity: 0;
	transform: translate3D(0, 100%, 0);
}

.slide-up-leave-to, .slide-down-enter,
.slide-up-back-enter, .slide-down-back-leave-to{
	opacity: 0;
	transform: translate3D(0, -100%, 0);
}


/*//////////////////////////////////////////////////// */
/* Fade */
.fade-enter-active, .fade-leave-active,
.fade-back-enter-active, .fade-back-leave-active{
	transition: all $durationIn ease-in-out;
}

.fade-enter, .fade-leave-to,
.fade-back-enter, .fade-back-leave-to{
	opacity: 0;
}
